{% extends 'base.html.twig' %}

{% block title %}{{ team.name }} - Actualités{% endblock %}

{% block body %}
    <div class="slide">
        <div class="wrapper wrapperContainerTeam">
            <h2 class="display-xl kizard">Les actualités pour {{team.name}}</h2>
            <div class="row">
                {% if news is empty %}
                    <p class="text-lg text-center hero">Aucune actualité disponible pour cette équipe.</p>
                {% else %}
                    {% for new in news %}
                        <div class="col-md-4">
                            {% include "partials/_cardNews.html.twig" %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
