{% extends 'base.html.twig' %}

{% block title %}{{ user.fullName }} - Actualités Suivies{% endblock %}

{% block body %}
    <div class="slide">
        <div class="wrapper wrapperContainerTeam">
            <h2 class="display-xl kizard">Les matchs suivis par {{user.fullName}}</h2>
            <div class="row">
                {% if followedMatches is empty %}
                    <p class="text-lg text-center hero">Aucun match disponible pour vous.</p>
                {% else %}
                    {% for games in followedMatches %}
                                             <div class="col-md-4" data-aos="fade-up" data-aos-anchor-placement="top-center">
                            {% include "partials/_cardMatches.html.twig" %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
