{% extends "base.html.twig" %}

{% block title %}Modifier avatar
{% endblock %}

{% block body %}

	{% include 'partials/_form.html.twig' with {
        slideId: "editAvatar",
        title: 'Modification de la photo de profil',
        form: myForm,
        fields: [
            myForm.newPicture,
        ],
        buttonText: 'Confirmez la modification de la photo de profil',
        imagePath: '/uploads/' ~ app.user.picture
    } %}


</div>{% endblock %}
