{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe utilisateur{% endblock %}

{% block body %}
    <div class="slide">
    <div class="wrapper">
        <h1>Modification du mot de passe</h1>
        {{form_start(myForm)}}
            {{form_widget(myForm)}}
            <button type="submit" class="btn btn-warning">Confirmez la modification du mot de passe</button>
        {{form_end(myForm)}}
    
    </div>

    </div>
{% endblock %}