{% extends "base.html.twig" %}

{% block title %}Inscription au site{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('registrationStyle') }}
{% endblock %}


{% block body %}
{% set sublinks = [
    {'text': '<div class="text-xs hero"><span>Vous avez déjà un compte</span>. <a href="' ~ path('account_login') ~ '" class="text-white hero">Connectez-vous</a></div>', 'url': '/'}
] %}


    {% include 'partials/_form.html.twig' with {
        slideId: 'registerPage',
        title: 'Inscrivez-vous dès maintenant',
        form: myForm,
        fields: [
            myForm.firstName,
            myForm.lastName,
            myForm.email,
            myForm.picture,
            myForm.password,
            myForm.passwordConfirm,
            myForm.introduction,
        ],
        textarea: myForm.description,
        buttonText: 'Confirmez l\'inscription',
        sublinks: sublinks
    } %}
{% endblock %}
