// import polices

@font-face {
    font-family: 'kizard';
    src: url('../../../public/typos/kizard.otf');
}

@font-face {
    font-family: 'stratos';
    src: url('../../../public/typos/stratos.otf');

}

@font-face {
    font-family: 'hero';
    src: url('../../../public/typos/hero.otf');
}



// Variables de base
$font-family-hero: 'hero';
$font-family-kizard: 'kizard';
$font-family-stratos: 'stratos';

// Tailles de police display
$display-font-size-2xl: 3.75rem; // 60px
$display-font-size-xl: 3rem; // 48px
$display-font-size-lg: 2.625rem; // 42px
$display-font-size-md: 2.25rem; // 36px
$display-font-size-sm: 1.875rem; // 30px
$display-font-size-xs: 1.5rem; // 20px

// Tailles de police text
$text-font-size-2xl: 1.5rem; // 24px
$text-font-size-xl: 1.25rem; // 20px
$text-font-size-lg: 1rem; // 16px
$text-font-size-md: 0.875rem; // 14px
$text-font-size-sm: 0.8125rem; // 13px
$text-font-size-xs: 0.75rem; // 12px


// Poids de police
$font-weight-regular: 400;
$font-weight-light: 300;

// Radius de bordure
$radius-none: 0;
$radius-xxs: 0.125rem; // 2px
$radius-xs: 0.25rem; // 4px
$radius-sm: 0.375rem; // 8px
$radius-md: 0.5rem; // 12px
$radius-lg: 0.625rem; // 16px
$radius-xl: 0.75rem; // 20px
$radius-2xl: 1rem; // 24px
$radius-3xl: 1.25rem; // 32px
$radius-4xl: 1.5rem; // 40px
$radius-full: 624.9375rem; // 9999px

// Espacements
$spacing-none: 0;
$spacing-xxs: 0.125rem; // 2px
$spacing-xs: 0.25rem; // 4px
$spacing-sm: 0.375rem; // 6px
$spacing-md: 0.5rem; // 8px
$spacing-lg: 0.75rem; // 12px
$spacing-xl: 1rem; // 16px
$spacing-2xl: 1.25rem; // 20px
$spacing-3xl: 1.5rem; // 24px
$spacing-4xl: 2rem; // 32px
$spacing-5xl: 2.5rem; // 40px
$spacing-6xl: 3rem; // 48px
$spacing-7xl: 4rem; // 64px
$spacing-8xl: 5rem; // 80px
$spacing-9xl: 6rem; // 96px
$spacing-10xl: 8rem; // 128px
$spacing-11xl: 10rem; // 160px

//colors
$color-primary: #252525;
$color-secondary:#E1E1E1;
$color-tertiary:#FF4B44;
$darken-tertiary:#C8433D;
$tertiary-transparent:rgba(255, 75, 68,0.5);
$gradient-circle:linear-gradient(90deg, rgba(255,75,68,1) 0%, rgba(153,45,41,1) 100%);
$gradient-circle2:linear-gradient(240deg,#992d29 0%, rgba(255,75,68,1) 100%, );


// Mixins
@mixin font-style($font-family, $font-size, $font-weight, $line-height, $letter-spacing: -0.02, $font-style: normal) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: #{$letter-spacing}em;
    font-style: $font-style;
}

@mixin background($url-image) {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($url-image);
}
@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center

}
@mixin flexGap($direction,$spacing){
    display: flex;
    flex-direction: $direction;
    gap: $spacing;
}
@mixin button-primary(){
    text-decoration: none;
    overflow: hidden;
    border-radius: $radius-full;
    gap: $spacing-xxs;
    background-color: $tertiary-transparent;
    border: solid 1px $color-tertiary;
    padding: 8px 16px;
    position: relative;
    transition: all 0.3s ease-in-out;
    color: $color-secondary;
    &:hover::before {
      animation: shine 1.5s ease-out infinite;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100%;
      background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0) 70%
      );
      top: 0;
      left: -100px;
      opacity: 0.6;
    }

    @keyframes shine {
      0% {
        left: -100px;
      }

      60% {
        left: 100%;
      }

      to {
        left: 100%;
      }
    }
}
.wrapper{
    margin: 0 auto;
    width: 85%;

}

.display-2xl {
    @include font-style($font-family-hero, $display-font-size-2xl, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}

.display-xl {
    @include font-style($font-family-hero, $display-font-size-xl, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}

.display-lg {
    @include font-style($font-family-hero, $display-font-size-lg, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}

.display-md {
    @include font-style($font-family-hero, $display-font-size-md, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}

.display-sm {
    @include font-style($font-family-hero, $display-font-size-sm, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}

.display-xs {
    @include font-style($font-family-hero, $display-font-size-xs, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}

.text-2xl {
    @include font-style($font-family-hero, $text-font-size-2xl, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}

.text-xl {
    @include font-style($font-family-hero, $text-font-size-xl, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}

.text-lg {
    @include font-style($font-family-hero, $text-font-size-lg, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}

.text-md {
    @include font-style($font-family-hero, $text-font-size-md, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}

.text-sm {
    @include font-style($font-family-hero, $text-font-size-sm, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}

.text-xs {
    @include font-style($font-family-hero, $text-font-size-xs, $font-weight-regular, 1.2);

    &.hero {
        font-family: $font-family-hero;

        &.italic {
            font-style: italic;
        }
    }

    &.kizard {
        font-family: $font-family-kizard;

        &.italic {
            font-style: italic;
        }
    }

    &.stratos {
        font-family: $font-family-stratos;

        &.italic {
            font-style: italic;
        }
    }
}


