<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_script_tags('app') }}
    <title>LaLigzz - {% block title %}Administration{% endblock %}</title>
</head>
<body>

    {% include 'admin/partials/header.html.twig' %}  

    {% block body %}{% endblock %}

    {% include 'admin/partials/footer.html.twig' %}

    {% block javascripts %}{% endblock %}
</body>
</html>