@import './variables/variables.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
html,body{
    scroll-behavior: smooth;
    background-color: $color-primary;
}
.slide{
    min-height: 100vh;
    width: 100%;
    background-color: $color-primary;
}
.modal-content button:first-child {
    background-color: none !important;
    color: #fff;
  }
  #loginPage{
    padding: $spacing-9xl 0;
  }
  .avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-medium{
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini{
    max-width: 24px;
    max-height: 24px;
}
.alert {
    background-color: $color-primary;
    border: solid 1px $color-tertiary;
    color: $color-secondary;
    outline: none;
    border-radius: $radius-xl;
}

#userPage{
    padding: $spacing-9xl 0;
}