@import './variables/variables.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
html,body{
    scroll-behavior: smooth;
    background-color: $color-primary;
}
.slide{
    min-height: 100vh;
    width: 100%;
    background-color: $color-primary;
}
.modal-content button:first-child {
    background-color: none !important;
    color: #fff;
  }
  #loginPage{
    padding: $spacing-9xl 0;
  }
  .avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-medium{
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini{
    max-width: 24px;
    max-height: 24px;
}


#userPage{
    padding: $spacing-9xl 0;
}

#page404 .bouncing-ball {
    animation: bounce 2.8s infinite ease-in-out;
    transform-origin: center center;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(-360deg);
    }

    40% {
        transform: translateY(-80px) rotate(360deg);

    }

    60% {
        transform: translateY(-40px) rotate(360deg);
    }
}
#page404{
  
    .text404{
        color: #e6e6e6af ;
    }
}
.section-404{
    width: 85%;
    margin: 0 auto;
    gap: $spacing-2xl;
}
.error500{
    color: $color-secondary;
    gap: $spacing-2xl;
    .cadre500{
        padding: $spacing-4xl;
        border-radius: 20px;
        border: solid 1px $color-tertiary;
    }
}
.button404{
    gap: $spacing-sm;
    text-decoration: none;
    color: $color-secondary;
    padding: 8px 24px;
    border-radius: $radius-full;
    transition: all 0.3s;

    &.home{
        background-color: #ff4a44aa;
        border: solid 1px $color-tertiary;
        &:hover{
        background-color: #ff4a44;
        }
    }
    &.back{
        background-color: rgba(75, 75, 75, 0.5);
        border: solid 1px $color-secondary;
        &:hover{
            background-color: rgba(75, 75, 75, 1);
            }
    }
}
.rating i{
    color: goldenrod;
}


.flash-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    &.fade-out {
        transform: translateX(100%);
        opacity: 0;
        transition: transform 1s ease-out, opacity 1s ease-out;

    }
    
}

.flash-container .alert {
    margin: 10px auto;
    max-width: 90%;
    text-align: center;
    border: solid 1px $color-tertiary !important;
    outline: none !important;
    border-radius: $radius-xl !important;
    font-size: $font-family-hero !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    p{
        margin-bottom: 0 !important;
    }

    .success{
        background-color: rgb(60, 200, 60);
        color: $color-primary;
    }
    .warning{
        background-color: rgb(250, 225, 83);
        color: $color-primary;
    }
    .danger{
        background-color: $color-tertiary;
        color: $color-primary;
    }
}

.loginAdmin{
    background-color: $color-primary;
    width: 100%;

}

.wrapperContainerTeam{
    padding: $spacing-9xl 0;
    color: $color-secondary;
    .row{
    --bs-gutter-x: 0rem !important;
    .col-md-4{
        margin: 20px 0
    }
}
    @include flexGap(column,$spacing-2xl);
    h2{
        color: $color-secondary;
    }

}