@import './variables/variables.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
html,body{
    scroll-behavior: smooth;
    background-color: $color-primary;
}
.slide{
    min-height: 100vh;
    width: 100%;
    background-color: $color-primary;
}
.modal-content button:first-child {
    background-color: none !important;
    color: #fff;
  }
  #loginPage{
    padding: $spacing-9xl 0;
  }