{% extends "base.html.twig" %}


{% block title %}Création d'une news
{% endblock %}

{% form_theme myForm _self %}

{% block body %}
{# {% set sublinks = [
    {'text': '<a href="' ~ path('account_login') ~ '" class="text-decoration-none btn btn-danger hero">Supprimer</a>'},
    {'text': '<a href="' ~ path('account_login') ~ '" class="text-decoration-none btn btn-danger hero">Modifier la cover</a>'}
] %} #}
	{% include 'partials/_form.html.twig' with {
		slideId:"EditNews",
		title: "Modification d'une actualité",
		form: myForm,
		fields: myForm,
		buttonText: "Ajouter",

	} %}
{% endblock %}
{% block javascripts %}{% endblock %}
