{% extends 'base.html.twig' %}

{% block title %}Actualités
{% endblock %}

{% block body %}
	<div class="slide" id="teamsPage">
		<div class="wrapper">
			<div class="container_teamsPage">
				<div class="title">
					<h2 class="display-md kizard col-md-3">actualités</h2>
				</div>
				<div class="d-flex flex-wrap row_news">
					{% for new in pagination.data() %}
						{% include "partials/_cardNews.html.twig" %}
					{% endfor %}
				</div>
				<div class="pagination">
					{{ pagination.display() }}
					{# Appelle le display de la pagination (configuré dans service yaml)#}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
