@import "../variables/variables.scss";
#home {
  position: relative;
  .home_wave {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  @include background("../../../public/images/background/backgroundHome.webp");
  .container_home {
    padding: $spacing-9xl 0;
    #row_home {
      .left {
        @include flexGap(column, $spacing-4xl);

        @media all and (max-width: 798px) {
          order: 2;
        }
      }
      @media all and (max-width: 798px) {
        display: flex;
        flex-direction: column;
        gap: $spacing-8xl;
        align-items: center;
      }
    }
    .logo {
      height: 50px;
    }
    .jumbotron {
      @include flexGap(column, $spacing-2xl);
      color: $color-secondary;
      .jumbotron_text {
        @include flexGap(column, $spacing-md);
      }
      .jumbotron_button {
        width: 100%;
        display: flex;
        justify-content: end;
      }
    }
  }
}
#right {
  // position: relative;
  @media all and (max-width: 798px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 1;
  }

  .circleP {
    width: 411.37px;
    height: 411.37px;
    border-radius: $radius-full;
    background: $gradient-circle;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    @media all and (max-width: 798px) {
      width: 200px;
      height: 200px;
    }
    img {
      display: block;
      height: 600px;
      z-index: 5;
      @media all and (max-width: 798px) {
        height: 350px;
      }
    }
  }
  .circle_tiny {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: $radius-full;
    background: $gradient-circle2;
    &:nth-child(1) {
      top: -23%;
      left: 93%;
    }
  }
  .circleT {
    bottom: -27% !important;
    left: -31% !important;
  }
}

//keyframes apparition
.logo {
  width: 180px;
  display: flex;
  object-fit: cover;
  position: absolute;
  top: 35%;
  padding: $spacing-sm 0;
  transform: translateX(-74%) rotate(-90deg);
  position: relative;
  border-bottom: solid 2px $color-secondary;
  @media all and (max-width: 798px) {
    display: none;
  }
}
.totop {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  align-items: center;
  background-color: $color-primary;
  z-index: 100;
  transition: all 0.3s;
  border: solid 1px $color-tertiary;
  &:hover {
    background-color: $color-tertiary;
    border: solid 1px $color-primary;
    svg {
      fill: $color-primary;
    }
  }

  svg {
    text-align: center;
    z-index: 100;
    fill: $color-tertiary;
    width: 48px;
    transition: all 0.5s;
  }
}
//css slider team
#slider_team {
  background-color: $color-secondary;
  min-height: auto;
  padding-bottom: $spacing-6xl !important;
}

//slider TEAM
.slider_container {
  @include flex(row);
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  .slider_container_heading {
    @include flexGap(column, $spacing-2xl);
    h2 {
      color: $color-tertiary;
      padding: 2px 0;
      border-bottom: solid 2px $color-tertiary;
    }
  }
}
.button_teams {
  background-color: $color-primary;
  padding: 10px 20px;
  color: $color-secondary;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  border-radius: $radius-full;
  border: solid 2px $color-tertiary;
  transition: all 0.3s ease-in;
  &:hover {
    i {
      transform: translateX(50%) translateY(0);
    }
  }
  i {
    color: $color-tertiary;
    transition: all 0.3s;
  }
}

//bannière
#banneer {
  padding: $spacing-6xl 0;
  background-color: $color-tertiary;
  width: 100%;
  .col-md-4 {
    @include flexGap(column, $spacing-4xl);
  }
  h3 {
    text-transform: uppercase;
    -webkit-text-stroke: 2px $color-secondary;
    color: transparent;
  }
  .discover {
    padding: 10px 20px;
    display: block;
    background-color: $color-secondary;
    color: $color-primary;
    border-radius: $radius-full;
    text-transform: none;
    width: fit-content;
    text-decoration: none;
    display: flex;
    gap: $spacing-sm;
    align-items: center;
  }
  span {
    color: $color-secondary;
    font-style: normal;
  }
}

#presentation {
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding: $spacing-9xl 0;
  .presentation_text {
    @include flexGap(column, $spacing-2xl);
  }
  .wrapper {
    @include flexGap(column, $spacing-2xl);
 
  }
  .trophy {
    filter: grayscale(1);
    transition: all 0.3s;
    animation: infinite colors 2s alternate-reverse;
    position: relative;
  }
}
@keyframes colors {
  from {
    filter: grayscale(1);
  }
  to {
    filter: grayscale(0);
  }
}
#presentation_pic {
  position: relative;
  .first-letter {
    position: absolute;
    top: -50%;
    z-index: 10;
    font-size: 15rem;
    color: $color-tertiary;
    span {
      position: absolute;
      top: 0%;
      left: 18% !important;
      color: transparent;
      -webkit-text-stroke: 2px #e5e2e2c4;
      z-index: -1 !important;
    }
  }
}
.presentation_stats {
  padding: $spacing-8xl 0;
  @include flexGap(column, $spacing-6xl);
  h3 span {
    color: transparent;
    -webkit-text-stroke: 1px $color-secondary;
  }
  .row .col-md-4,
  .numbers_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-2xl;
  }
  .numbers_stats {
    gap: $spacing-md;
    text-transform: uppercase;
    span {
      color: transparent;
      -webkit-text-stroke: 1px $color-secondary;
      font-size: 1.5rem;
    }
  }
  .presentation_icon {
    padding: 20px;
    background-color: transparent;
    border: solid 1px $color-tertiary;
    border-radius: $radius-full;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .last_matchs {
    padding: $spacing-9xl 0;
  }
}
.ranking-table {
  width: 100%;
  border-collapse: collapse;
}

.ranking-table th,
.ranking-table td {
  padding: 10px;
  text-align: center;

}

thead .criteres{
  border-bottom: solid 1px $color-secondary !important;
  font-family: $font-family-stratos;
  font-weight: lighter;
  text-transform: uppercase;
  color: $color-secondary;

}
.stats{
  font-family: $font-family-hero;
  font-weight: bold;
  color: $color-secondary;
  text-transform: capitalize;
  a{
    text-decoration: none;
    color: $color-secondary;
  }

  &.team{
      text-align: start;
      span{
          text-transform: capitalize;

      }
      font-weight: normal;
      display: flex;
      align-items: center;
      gap: $spacing-md;
      .teamPic{
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          img{
              height: 50px;
          }
      }
    
  }
}

.points{
  color: $color-primary;
}

#banneer .ranking-table tr:hover {
  background-color:#ca2621b0;
}
#banneer .ranking-table tr{
  transition: all 0.3s;
  cursor: pointer;
}

.result{
  border-bottom : solid 1px #ca2621b0;
  border-left: solid 2px transparent;
 
}
.position{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius-full;
  background-color: #621111;
  border: solid 2px $color-secondary;
}
.lastGames,.lastNews{
  .cardNews{
    width: 100% !important;
  }
  .cardsMatches{
    width: 99% !important;
  }
}