@import "../variables/variables.scss";
#team {
    position: relative;
    color: $color-secondary;
    overflow: hidden;
    .logoBackground {
        position: absolute;
        bottom: 0;
        height: 100vh;
        opacity: 30%;
        transform: rotate(-15deg);
        @media all and (max-width: 768px) {
          display: none;

        }
    }
    .wrapper {
        padding: $spacing-9xl 0;
    }
    .logoTeam {
        height: 80px;
        object-fit: contain;
    }
    .blockTeam {
        position: relative;
        border-radius: 45px 45px 0 0;
        background-color: rgba(130, 130, 130, 0.4);
        min-height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .circlePicture {
            border-radius: $radius-full;
            background: $gradient-circle;
            width: 400px;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
        
            position: absolute;
            animation: rotate 2s infinite linear;
            animation-direction: normal;
            position: relative;
            @media all and (max-width: 992px) {
                display: none;
            }
        }
        .teamCover {
            position: absolute;
            bottom: 0%;
            
            // transform: translate(50%,-50%);
            height: 100%;
            @media all and (max-width: 992px) {
                bottom: 0%;
                right: -5%;
                height: 60%;
            }
            @media all and (max-width: 768px) {
               display: none;
            }
          
        }
        .banneerStats {
            width: 100%;
            padding: $spacing-3xl;
            background-color: rgb(159, 159, 159, 0.43);
            backdrop-filter: blur(25px);
            text-transform: uppercase;
            border-radius: 45px 45px 0 0;
            .stats{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 13px;
                // border-right: solid 2px $color-tertiary;
            
            }
            span{
                text-transform: none;
                color: $color-tertiary;
            }
            h4{
                text-transform: uppercase;
                font-size: 24px;
                align-items: center;

            }
        }
    }
}
.infos {
    padding: 20px;
}
.blockTeam_left {
    @include flexGap(column, $spacing-3xl);
    .heading {
        padding: 8px;
        @include flexGap(row, $spacing-3xl);
        @media all and (max-width: 768px) {
            flex-direction: row;
            align-items: start;
        }
        a {
            display: flex;
            padding: 8px 16px;
            border-radius: $radius-full;
            text-decoration: none;
            background-color: rgba(230, 230, 230, 0.5);
            border: solid 1px $color-secondary;
            color: $color-secondary;
            display: block;
            width: max-content !important;
        }
        .name {
            @include flexGap(row, $spacing-md);
            align-items: center;
            @media all and (max-width: 768px) {
                flex-direction: column;
                align-items: start;
                img {
                    order: 1;
                }
                h3 {
                    order: 2;
                }
            }
        }
    }
    .blockTeam_left_actions {
        @include flexGap(row, $spacing-3xl);
        a {
            font-size: 14px !important;
            font-family: $font-family-hero;
            padding: 4px 15px;
            width: max-content;
        }
        .games,.followButton{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $radius-full;
            text-decoration: none;
            background-color: rgba(230, 230, 230, 0.5);
            border: solid 1px $color-secondary;
            color: $color-secondary;
        }
        .games{
            background-color: rgba(37, 37, 37, 0.5);
            border: solid 1px $color-primary;
            max-width:min-content !important;

        }
        .followButton {
          
                gap: $spacing-xxs;
                padding: 8px 16px;
                border: solid 1px #e0da2d;
                background-color: rgba(224, 218, 45,0.5);
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        
    }
}


/* teamStyle.css */
.result {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.victory {
    background-color: rgb(65, 245, 104);
}

.draw {
    background-color: #e0da2d;
}

.defeat {
    background-color: $color-tertiary;
}
.stats_row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media (max-width: 767px) {
    .banneerStats .stats_row > .stats {
        flex: 0 0 50%;
        max-width: 50%;
    }
    h4{
        width: 100%;
    }
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}

#result{
    color: $color-secondary;
    .wrapper{
        padding: $spacing-9xl 0;
        @include flexGap(column,$spacing-5xl)
    }
    .stroke-text{
        -webkit-text-stroke: 2px $color-secondary;
        color: transparent;
    }
}
.swiper-games{
    position: relative;
    i{
       font-size: 20px;
     
    }
    .arrow_prev_games{
 
    position: absolute;
    top: 40%;
        z-index: 5;
  cursor: pointer;

    }
    .arrow_next_games{
        position: absolute;
        top: 40%;
        right: 0;
        z-index: 5;
        @include flex(row);
        cursor: pointer;
   

    }

}
.controls_slider_arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    &:hover{
        background-color: #913535;
        border-radius:100%;
    }
 
}
.slide{
    color: $color-secondary;
    overflow: hidden;
}
.baneerNews{
   min-height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bubble{
    width: 50%;
    min-height: 300px;
    border-radius:  0 $radius-full $radius-full 0;
    background-color: rgba(37, 37, 37,0.7);
    display: flex;
    align-items: center;
    @media all and (max-width:768px) {
       width: 80%;
        
    }
}
#lastNews{
    .wrapper{
        padding: $spacing-9xl 0;
        display: flex;
        flex-direction: column;
        gap: $spacing-4xl;
    }
    .row{
        gap: 20px;
    }
}


@media all and (max-width:768px) {
    .swiper-slide:nth-child(1) {
        margin-left: 0%;
      }
      .container_slide{
        display: flex;
        justify-content: center;
        align-items: center;
      }
   
    .wrapper{
        width: 100%;
    }
    .arrow_prev_games{
        position: absolute;
        top: 50%;
        left: -5%;
    }
    .swiper-games .arrow_next_games{
        position: absolute;
        right: -5% !important;
    }
    
}
.cardsMatches{
    width: 82% !important;
}
.cardNews{
    width:auto !important;
    min-height: auto !important;
}
.swiper-slide{
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
}