<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> LaLigzz | {% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
      <body>
        {% include "partials/header.html.twig" %}
          {% for label, messages in app.flashes %}
            <div class="container">
                <div class='alert alert-{{label}}'>
                    {% for message in messages %}
                        <p>{{message | raw}}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
         {% block javascripts %}
         {% endblock %}
    </body>
</html>
