<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> LaLigzz | {% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="/images/logo.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
        <link rel="apple-touch-icon" sizes="57x38" href="/images/logo.png">
        <link rel="apple-touch-icon" sizes="72x49" href="/images/logo.png">
        <link rel="apple-touch-icon" sizes="76x52" href="/images/logo.png">
        <link rel="apple-touch-icon" sizes="114x78" href="/images/logo.png">
        <link rel="apple-touch-icon" sizes="120x82" href="/images/logo.png">
        <link rel="apple-touch-icon" sizes="144x98" href="/images/logo.png">
        <link rel="apple-touch-icon" sizes="152x104" href="/images/logo.png">
        <link rel="icon" type="image/png" href="/images/logo.png" sizes="196x134">
        <link rel="icon" type="image/png" href="/images/logo.png" sizes="160x110">
        <link rel="icon" type="image/png" href="/images/logo.png" sizes="96x66">
        <link rel="icon" type="image/png" href="/images/logo.png" sizes="16x11">
        <link rel="icon" type="image/png" href="/images/logo.png" sizes="32x22">
        <link rel="icon" type="image/png" href="/images/logo.png">
        <meta name="author" content="Dylan Quenon">
        <meta name="description" content="Découvrez tout sur la Liga : actualités, résultats, équipes, et plus encore sur LaLigzz.">
        <meta name="keywords" content="Dylan Quenon, LaLigzz, LaLiga, actualités, résultats, équipes, Real Madrid, FC Barcelone, Atletico Madrid, classement, football, sport">
        <meta name="google-site-verification" content="aYPd2TheKZ5pegYrPl72sW-wnEA2-V4pZRfrK_HJyLE" />
        <meta property="og:title" content="LaLigzz - Tout savoir sur la Liga">
        <meta property="og:type" content="website">
        <meta property="og:image" content="/images/logo.png">
        <meta property="og:image:width" content="1800">
        <meta property="og:image:height" content="945">
        <meta property="og:url" content="http://laligzz.dylanquenon.com/">
        <meta property="og:description" content="Découvrez tout sur la Liga : actualités, résultats, équipes, et plus encore sur LaLigzz.">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:site_name" content="LaLigzz">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="LaLigzz - Tout savoir sur la Liga">
        <meta name="twitter:url" content="http://laligzz.dylanquenon.com/">
        <meta name="twitter:description" content="Découvrez tout sur la Liga : actualités, résultats, équipes, et plus encore sur LaLigzz.">
        <meta name="twitter:image" content="/images/logo.png">
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
      <body>
        {% include "partials/header.html.twig" %}
        {% block body %}{% endblock %}
         {% block javascripts %}
         {% endblock %}
           {% include "partials/footer.html.twig" %}
    </body>
</html>
