{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="slide">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-success">
            danger
        </div>
</div>
{% endblock %}
